/* 
_____________
Секция с курсами
class courses
_____________
*/
.courses__container {
  max-width: var(--max-width-container-desktop);
  margin: auto;
  padding: var(--padding-tb-container-desktop) var(--padding-lr-container-desktop)
}

.courses__shelf:not(:last-child) {
  margin-bottom: 40px;
}

.courses__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-bottom-title-desktop);
}

.books {
  position: relative;
  display: flex;
  padding: 20px 40px;
}

.books::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: var(--color-bg-purpure-radial-gradient);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.175);
  content: '';
}

.books__item {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr;
  /* ширины колонок */
  grid-template-rows: 30px;
  /* высоты строк */
  grid-template-areas:
    "name";
  width: 30px;
  /* height: 200px; */
  padding: 1em;
  border: var(--border-blue);
  border-radius: var(--radius-md);
  background-color: var(--color-bg-wight);
  overflow: hidden;
  transform: rotate(-30deg) translate(0px, 0px);
  transition: transform .2s, width .5s;
}

.books__item:not(:last-child) {
  margin-right: 25px;
}

.books__item.open {
  margin-right: 94px;
}

.books__item.open {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* ширины колонок */
  grid-template-rows: auto auto auto auto;
  /* высоты строк */
  grid-template-areas:
    "img name name"
    "img descr descr"
    "img rating price"
    "img . btn";
  gap: 10px;
  align-items: flex-start;
  width: 320px;
  transform: rotate(0deg) translate(50px, 0px);
  z-index: 100;
}

/* .books__label{
  display: block;
  font-weight: 600;
  font-size: var(--font-size-title-sm);
  opacity: 1;
  visibility: visible;
  transform: rotate(90deg);
  transition: visibility .2s, opacity .2s;
}
.books__item.open .books__label{
  opacity: 0;
  visibility: hidden;
  display: none;
} */
.books__image {
  grid-area: img;
  aspect-ratio: 3 / 4;
  border-radius: var(--radius-max);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: visibility .5s .5s, opacity .5s .5s, width .5s .5s;
}

.books__item.open .books__image {
  /* width: 100%; */
  opacity: 1;
  visibility: visible;

}

.books__image img {
  width: 100%;
  height: 100%;
}

.books__name {
  /* opacity: 0;
  visibility: hidden; */
  transform: rotate(90deg);
  transition: visibility .2s, opacity .2s, height .2s;
}

.books__item.open .books__name {
  grid-area: name;
  opacity: 1;
  visibility: visible;
  font-size: var(--font-size-title-xs);
  transform: none;
}

.books__description {
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s, opacity .2s, height .2s;
}

.books__item.open .books__description {
  grid-area: descr;
  opacity: 1;
  visibility: visible;
  font-size: var(--font-size-text-xs);
  color: var(--color-text-grey);
}

.books__rating {
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s, opacity .2s, height .2s;
}

.books__item.open .books__rating {
  grid-area: rating;
  align-self: flex-end;
  opacity: 1;
  visibility: visible;
}

.books__price {
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s, opacity .2s, height .2s;
}

.books__item.open .books__price {
  grid-area: price;
  align-self: flex-end;
  opacity: 1;
  visibility: visible;
  font-size: var(--font-size-text-sm);
}

.books__price::after {
  content: ' р';
}

.books__detail {
  opacity: 0;
  visibility: hidden;
  transition: visibility .2s, opacity .2s, height .2s;
}

.books__item.open .books__detail {
  grid-area: btn;
  align-self: flex-end;
  opacity: 1;
  visibility: visible;
  padding: 5px 10px;
  border: var(--border-blue);
  color: var(--color-text-blue);
  border-radius: var(--radius-md);
  font-family: var(--font-family-montserrat);
  font-weight: 600;
  font-size: var(--font-size-text-sm);
  text-align: center;
}