:root{
    /*--свойство-предмет-модификация*/
    /* Цвета */
    --color-bg-grey: #F4F5F5;
    --color-bg-wight: #fff;
    --color-bg-blue: #8AD1FD;
    --color-bg-purpure: #C3B9DF;
    --color-bg-blue-radial-gradient: radial-gradient(circle at left top, #E8F6FF 0%, #8ad1fd59 53%);
    --color-bg-purpure-radial-gradient: radial-gradient(circle at center 200px, #FFE6E6 0%, #c3b9df92 53%);
    --color-bg-blue-linear-gradient: linear-gradient(90deg,rgba(230, 243, 247, 1) 0%, rgba(255, 255, 255, 1) 38%, rgba(230, 243, 247, 1) 70%, rgba(255, 255, 255, 1) 88%, rgba(230, 243, 247, 1) 100%);
    --color-bg-dark-blue: #0AA6D7;

    --color-text-black: #000;
    --color-text-blue: #0AA6D7;
    --color--text-wight: #fff;

    --color-btn-blue: #0AA6D7;
    --color-btn-white: #fff;

    

    /* Отступы */
    --padding-container-desktop: 20px;
    --padding-container-tablet: 15px;
    --padding-container-mobile: 10px;

    --margin-right-links-base: 20px;
    --margin-bottom-links-base: 10px;

    --margin-bottom-title-sm: 1em;
    --margin-bottom-title-md: 2em;
    --margin-bottom-title-lg: 3em; /*5.625em*/

    --margin-bottom-descr-sm: 10px;
    --margin-bottom-descr-md: 20px;
    --margin-bottom-descr-lg: 30px;

    --paddings-btn-sm: 8px 20px;
    --paddings-btn-md: 10px 30px;
    --paddings-btn-lg: 20px 50px;
    
    /* Размеры */
    --breakpoint-page-desktop: 90rem; /* 1440 px */
    --breakpoint-page-laptop: 75rem; /* 1200 px */
    --breakpoint-page-tablet: 61.875rem; /* 990 px */
    --breakpoint-page-smartphone: 46.875rem; /* 750 px */
    --breakpoint-page-mobile: 30rem; /* 480 px */
 
    --max-width-container-max: 81.25rem; /* 1300px */
    --max-width-container-desktop: 71.25rem; /* 1140 px */
    --max-width-container-laptop: 60rem; /* 960 px */
    --max-width-container-tablet: 45rem; /* 720 px */
    --max-width-container-mobile: 100%;
    
    
    /* Радиусы и рамки*/
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 6px;
    --radius-max: 25px;

    --border-btn-blue: 1px solid #0AA6D7;
    --border-btn-black: 1px solid black;
    
    /* Шрифты */
    --font-family-text-montserrat: 'Montserrat', Arial, sans-serif;
    --font-family-text-nunito: 'Nunito', Arial, sans-serif;

    --font-size-text-xs: 0.875rem; /* 14px */
    --font-size-text-sm: 1rem; /* 16px */
    --font-size-text-md: 1.25rem; /* 20px */
    --font-size-text-lg: 1.5rem; /* 24px */

    --font-size-title-xs: 1rem; /* 16px */
    --font-size-title-sm: 1.5rem; /* 24px */
    --font-size-title-md: 2rem; /* 32px */
    --font-size-title-lg: 2.5rem; /* 40px */

    --font-size-btn: 1rem;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Light.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Regulat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
         url('../media/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
         url('../media/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/nunito/Nunito-Bold.woff2') format('woff2'),
         url('../media/fonts/nunito/Nunito-Bold.woff') format('woff'),
         url('../media/fonts/nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/nunito/Nunito-Light.woff2') format('woff2'),
         url('../media/fonts/nunito/Nunito-Light.woff') format('woff'),
         url('../media/fonts/nunito/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../media/fonts/nunito/Nunito-Regular.woff2') format('woff2'),
         url('../media/fonts/nunito/Nunito-Regular.woff') format('woff'),
         url('../media/fonts/nunito/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@keyframes text-rotate {
  100% { transform: rotate(360deg); }
}

a{
    font-family: var(--font-family-text-nunito);
    text-decoration: none;
    color: var(--color-text-black);
    outline: none;
}

button{
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--font-family-text-montserrat)
}

p{
    margin: 0;
    font-family: var(--font-family-text-nunito);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

input{
    outline: none;
}

.body{
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: var(--color-bg-grey);
}

.icons{
    display: none;
}