.hero {
    background: var(--color-bg-blue-purpure-linear-gradient2);
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: var(--max-width-container-desktop);
    padding: 150px var(--padding-lr-container-desktop) var(--padding-tb-container-desktop);
    margin: auto;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hero__title {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title-max);
    font-weight: 600;
    color: var(--color-text-white);
}

.hero__description {
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-text-max);
    font-weight: 300;
    color: var(--color-text-white);
}


.filters {
    background-color: var(--color-bg-grey);
}

.filters__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: var(--max-width-container-desktop);
    padding: 1.5em var(--padding-lr-container-desktop);
    margin: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.filters__item {
    padding: 0.5em 1em;
    outline: none;
    border: var(--border-grey);
    border-radius: var(--radius-lg);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-min);
    font-weight: 500;
    color: var(--color-text-black);
    cursor: var(--cursor-point);
    transition: background-color .1s, border-color .1s, color .1s;
}

.filters__item.active {
    border-color: var(--color-btn-blue);
    background-color: var(--color-btn-blue);
    color: var(--color-text-white);
}

.filters__item:not(.active):hover {
    border-color: var(--color-action-blue);
    background-color: var(--color-action-grey);
}

.filters__item:not(.active):focus-visible {
    border-color: var(--color-action-blue);
    background-color: var(--color-action-grey);
}

.filters__item:not(.active):active {
    border-color: var(--color-action-blue);
    background-color: var(--color-action-blue);
    color: var(--color-action-white);
}

.docs__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: var(--max-width-container-desktop);
    padding: var(--padding-tb-container-desktop) var(--padding-lr-container-desktop);
    margin: auto;
}

.docs__card {
    padding: 1em;
    border: var(--border-grey);
    border-radius: var(--radius-lg);
}

.docs__head {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.docs__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: var(--radius-lg);
    background-color: var(--color-label-dark-blue);
}

.docs__icon::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--color-icon-white);
}

.docs__icon_contract::before {
    mask: url('../../assets/media/icons/tests.svg') no-repeat center/contain;
}

.docs__icon_license::before {
    mask: url('../../assets/media/icons/tests.svg') no-repeat center/contain;
}

.docs__icon_agreement::before {
    mask: url('../../assets/media/icons/tests.svg') no-repeat center/contain;
}

.docs__icon_policy::before {
    mask: url('../../assets/media/icons/tests.svg') no-repeat center/contain;
}

.docs__icon_rules::before {
    mask: url('../../assets/media/icons/tests.svg') no-repeat center/contain;
}

.docs__name {
    margin-bottom: 10px;
}

.docs__type {
    display: block;
    margin-bottom: 2px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-min);
    font-weight: 400;
    color: var(--color-text-grey);
}

.docs__title {
    display: block;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title-min);
    font-weight: 500;
    color: var(--color-text-black);
    transition: color .1s;
}

.docs__title:hover {
    color: var(--color-action-blue);
}

.docs__description {
    display: -webkit-box;
    margin-bottom: 20px;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 400;
    color: var(--color-text-grey);
}

.docs__file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.docs__exp {
    padding: 0.2em 0.3em;
    border-radius: var(--radius-sm);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 400;
    color: var(--color-text-grey);
    background-color: var(--color-label-grey);
}

.docs__size {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 400;
    color: var(--color-text-grey);
}

.docs__btns {
    display: flex;
    align-items: center;
    gap: 10px
}

.docs__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.docs__btn_download{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 500;
    color: var(--color-text-black);
}

.docs__btn_download::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    mask: url('../../assets/media/icons/download.svg') no-repeat center/contain;
    background-color: var(--color-icon-black);
    transition: background-color .1s;
}


.docs__btn_download:hover::before {
    background-color: var(--color-action-white);
}

.docs__btn_download:focus-visible::before {
    background-color: var(--color-action-white);
}

.docs__btn_open {
    width: 35px;
    height: 35px;
    border: var(--border-grey);
    border-radius: var(--radius-md);
    transition: background-color .1s, border-color .1s;
}
.docs__btn_open:hover {
    border-color: var(--color-action-blue);
    background-color: var(--color-action-blue);
}

.docs__btn_open:focus-visible {
    border-color: var(--color-action-blue);
    background-color: var(--color-action-blue);
}

.docs__btn_open::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    mask: url('../../assets/media/icons/open.svg') no-repeat center/contain;
    background-color: var(--color-icon-black);
    transition: background-color .1s;
}

.docs__btn_open:hover::before {
    background-color: var(--color-action-white);
}

.docs__btn_open:focus-visible::before {
    background-color: var(--color-action-white);
}




/* =========================
   Медиа-запросы 
   ========================= */

/* 1400 px */
@media (max-width: 87.5rem) {
    .hero__container{
        max-width: var(--max-width-container-laptop);
    }
    .filters__container{

    }
    .docs__container {
        max-width: var(--max-width-container-laptop);
    }
}

/* 1200 px */
@media (max-width: 75rem) {
    .hero__container {
        max-width: var(--max-width-container-tablet);
        padding: 130px var(--padding-lr-container-tablet) var(--padding-tb-container-tablet);
    }
    .docs__container {
        max-width: var(--max-width-container-tablet);
        padding: var(--padding-tb-container-tablet) var(--padding-lr-container-tablet);
    }
}

/* 992 px */
@media (max-width: 62rem) {
    .hero__container {
        max-width: var(--max-width-container-smartphone);
    }
    .docs__container {
        grid-template-columns: repeat(2, 1fr);
        max-width: var(--max-width-container-smartphone);
    }
}

/* 768 px */
@media (max-width: 48rem) {
    .docs__container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 576 px */
@media (max-width: 36rem) {
    .hero__container {
        padding: 80px var(--padding-lr-container-mobile) var(--padding-tb-container-mobile);
    }
    .hero__title{
        font-size: var(--font-size-title-md);
    }
    .hero__description{
        font-size: var(--font-size-text-md);
    }
}