.body {
    background-color: var(--color-bg-grey);
}

.hero__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--max-width-container-desktop);
    margin: auto;
    padding: 150px var(--padding-lr-container-desktop) 0;

    /* 1400 px */
    @media (max-width: 87.5rem) {
        max-width: var(--max-width-container-laptop);
    }

    /* 1200 px */
    @media (max-width: 75rem) {
        max-width: var(--max-width-container-tablet);
        padding: 130px var(--padding-lr-container-tablet) var(--padding-tb-container-tablet);
    }

    /* 992 px */
    @media (max-width: 62rem) {
        max-width: var(--max-width-container-smartphone);
    }

    /* 768 px */
    @media (max-width: 48rem) {
        max-width: var(--max-width-container-mobile);
        padding: 100px var(--padding-lr-container-mobile) var(--padding-tb-container-mobile);
    }

    /* 576 px */
    @media (max-width: 36rem) {
        align-items: center;
        max-width: 100%;
    }
}

.hero__title {
    margin-bottom: var(--margin-bottom-title-desktop);
    text-align: center;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title-max);
    font-weight: 600;
}

.hero__description {
    margin-bottom: var(--margin-bottom-descr-desktop);
    text-align: center;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-max);
    font-weight: 400;
}

.hero__btn_classic{
    margin-right: 10px;
}

.courses__container {
    max-width: var(--max-width-container-desktop);
    margin: auto;
    padding: var(--padding-tb-container-desktop) var(--padding-lr-container-desktop);

    /* 1400 px */
    @media (max-width: 87.5rem) {
        max-width: var(--max-width-container-laptop);
    }

    /* 1200 px */
    @media (max-width: 75rem) {
        max-width: var(--max-width-container-tablet);
    }

    /* 992 px */
    @media (max-width: 62rem) {
        max-width: var(--max-width-container-smartphone);
    }

    /* 768 px */
    @media (max-width: 48rem) {
        max-width: var(--max-width-container-mobile);
    }

    /* 576 px */
    @media (max-width: 36rem) {
        align-items: center;
        max-width: 100%;
    }
}

/* 
_____________
Раздел с фильтрами
_____________
*/
.filters__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 1em;
    border-radius: var(--radius-lg);
    background-color: var(--color-bg-wight);
}

.filters__search {
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 60%;
    width: 100%;
}

.filters__search::before {
    position: absolute;
    left: 10px;
    background-image: url('../../assets/media/icons/small-search.svg');
}

.filters__btn {
    position: relative;
}

.filters__search::before,
.filters__btn::before {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    content: '';
}

.filters__btn::after {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: var(--radius-max);
    background-color: var(--color-bg-dark-blue);
    color: var(--color-text-white);
    content: attr(data-count);
    transition: opacity .2s;
}

.filters__btn[data-count="0"]::after {
    opacity: 0;
}

.filters__search input {
    width: 100%;
    padding: 0.8em 1em 0.8em 3em;
    box-sizing: border-box;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-min);
    font-weight: 500;
    border: var(--border-grey);
    border-radius: var(--radius-md);
    background-color: var(--color-bg-grey)
}

.filters__select {
    position: relative;
    align-self: stretch;
    border: var(--border-grey);
    border-radius: var(--radius-md);
    background-color: #fff;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 500;
}

.filters__wrapper {
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    cursor: pointer;
}

.filters__wrapper::after {
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #acacac;
    content: '';
    transform: rotate(-45deg);
    z-index: 20;
    pointer-events: none;
}

.filters__wrapper input {
    cursor: pointer;
    margin-right: 5px;
    z-index: 20;
}

.filters__variants {
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 10px 20px;
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    transition: opacity .1s, visibility .1s, top .1s;
    z-index: 10;
}

.filters__variants.active {
    top: 54px;
    visibility: visible;
    opacity: 1;
}

.filters__sort {
    cursor: pointer;
    transition: color .1s;
}

.filters__sort:not(:last-child) {
    margin-bottom: 10px;
}

.filters__sort.selected {
    color: var(--color-text-blue);
}

.filters__sort:hover {
    color: var(--color-text-blue);
}

.filters__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8em 1em;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 500;
    border: var(--border-grey);
    border-radius: var(--radius-md);
    color: var(--color-text-purpure);
}

.filters__btn::before {
    background-image: url('../../assets/media/icons/filter.svg');
}

.filters__settings {
    margin-bottom: 20px;
    padding: 1em;
    border-radius: var(--radius-lg);
    background-color: var(--color-bg-wight);
}

.filters__col:not(:last-child) {
    margin-bottom: 20px;
}

.filters__title {
    display: block;
    margin-bottom: 20px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title-sm);
    font-weight: 500;
}

.filters__item:not(:last-child) {
    margin-bottom: 10px;
}

.filters__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filters__checkbox input {
    display: none;
}

.filters__checkbox {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 400;
}

.filters__checkbox input+span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    border: var(--border-grey);
    border-radius: var(--radius-max);
}

.filters__checkbox input+span::before {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: var(--radius-max);
    background-color: var(--color-bg-dark-blue);
    content: '';
    transform: scale(0);
    transition: transform .2s;
}

.filters__checkbox input:checked+span::before {
    transform: none;
}


/* 
_____________
Раздел с карточками курсов
_____________
*/
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 40px;

    /* 1400 px */
    @media (max-width: 87.5rem) {
        grid-template-columns: repeat(3, 1fr);
    }

    /* 992 px */
    @media (max-width: 62rem) {
        grid-template-columns: repeat(2, 1fr);
    }

    /* 768 px */
    @media (max-width: 48rem) {
        grid-template-columns: 1fr;
    }
}

.cards__item {
    position: relative;
    border: var(--border-grey);
    border-radius: var(--radius-lg);
    overflow: hidden;
    background-color: var(--color-bg-wight);
    transition: box-shadow 0.2s;
}

.cards__item:hover {
    box-shadow: var(--shadow-classic)
}

.cards__item:hover .cards__image img {
    transform: scale(1.1);
}

.cards__label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .3em .6em;
    border-radius: var(--radius-md);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-min);
    font-weight: 500;
    color: var(--color-text-white);
    z-index: 1;
}

.cards__label_popular {
    background: var(--color-btn-blue-purpure-gradient);
}

.cards__label_new {
    background: var(--colot-btn-green-blue-gradient);
}

.cards__image {
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.cards__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.cards__content {
    padding: 2em 1.5em;
}

.cards__title {
    margin-bottom: 10px;
    cursor: var(--cursor-point);
}

.cards__link {
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-title-sm);
    font-weight: 600;
    transition: color 0.2s;
}

.cards__title:hover .cards__link {
    color: var(--color-action-blue);
}

.cards__description {
    margin-bottom: 10px;
    font-family: var(--font-family-nunito);
    font-size: var(--font-size-text-sm);
    font-weight: 400;
    user-select: none;
}

.cards__reviews {
    margin-bottom: 10px;
    user-select: none;
}

.cards__counter {
    user-select: none;
}

.cards__info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 1.5em 1.5em;
}

.cards__price {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family-montserrat);
    user-select: none;
}

.cards__price::after {
    content: '₽';
}

.cards__price_new {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-text-md);
}

.cards__price_old {
    position: relative;
    top: -5px;
    text-decoration: line-through;
    font-size: var(--font-size-text-sm);
    color: var(--color-text-grey);
}

.cards__btn {
    justify-items: flex-end;
    margin-left: auto;
    padding: .6em 1.5em;
    border-radius: var(--radius-md);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 600;
    color: var(--color-text-white);
    background: var(--color-btn-blue-purpure-gradient);
}

/* 
_____________
Раздел с кнопками
_____________
*/
.courses__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
}

.courses__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: var(--border-grey);
    border-radius: var(--radius-md);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-xs);
    font-weight: 600;
    color: var(--color-text-purpure);
    transition: border-color .2s;
}

.courses__link.disabled {
    pointer-events: none;
    filter: opacity(0.4);
}

.courses__link:hover:not(.active) {
    border-color: var(--color-text-purpure);
}

.courses__link_back {
    padding: 0.5em 1em;
}

.courses__link_back::before {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid var(--color-text-purpure);
    border-left: 1px solid var(--color-text-purpure);
    transform: rotate(45deg);
    content: '';
}

.courses__link_num {
    width: 18px;
    height: 18px;
    padding: 0.5em;
}

.courses__link_num.active {
    color: var(--color-text-white);
    background: var(--color-btn-blue-purpure-gradient);
}

.courses__link_forward {
    padding: 0.5em 1em;
}

.courses__link_forward::after {
    width: 8px;
    height: 8px;
    border-bottom: 1px solid var(--color-text-purpure);
    border-right: 1px solid var(--color-text-purpure);
    transform: rotate(-45deg);
    content: '';
}